{% extends 'shared/_latout.html' %}
{% load thumbnail %}
{% load render_partial %}

{% block title %}
تغییر رمز ورود
{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-md-4">
            {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
        </div>
        <div class="col-md-8">
            {% if new_password_form.errors %}
                {% for field in new_password_form.fields %}
                    {% for error in field.error %}
                        <div class="alert alert-danger">
                        <strong> {{ error|escape }} </strong>
                        </div>
                    {% endfor %}
                {% endfor %}

            {% endif %} 
            <form action="{% url 'change_password_page' %}" method="post">
                {% csrf_token %}
                {{ new_password_form }}
                <button type="submit" class="btn btn-success" style="
                    border-top-width: 1px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    margin-right: 0;
                    margin-left: 20px;">ثبت</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}