{% extends 'shared/_latout.html' %}

{% block title %}
    تماس با ما
{% endblock %}

{% block content %}
    <div id="contact-page" class="container">
    	<div class="bg">
    		<div class="row">
	    		<div class="col-sm-8">
	    			<div class="contact-form">
	    				<h2 class="title text-center">با ما در ارتباط باشیـد</h2>
	    				<div class="status alert alert-success" style="display: none"></div>
				    	<form id="main-contact-form" class="contact-form row" name="contact-form" action="{% url 'contact-us-page' %}"
                              method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="col-md-12 form-group {% if contact_form.full_name.errors %} text-danger {% endif %}">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    {{ field.errors }}
                                </div>
                            {% endfor %}

                            <hr>

{% comment %}
                            <div class="col-md-6 form-group">
                                {{ contact_form.email.label_tag }}
                                {{ contact_form.email }}
                                {{ contact_form.email.errors }}
                            </div>
                            <div class="col-md-6 form-group">
                                {{ contact_form.full_name.label_tag }}
                                {{ contact_form.full_name }}
                                {{ contact_form.full_name.errors }}
                            </div>
                            <div class="col-md-12 form-group">
                                {{ contact_form.title.label_tag }}
                                {{ contact_form.title }}
                                {{ contact_form.title.errors }}
                            </div>
                            <div class="col-md-12 form-group">
                                {{ contact_form.message.label_tag }}
                                {{ contact_form.message }}
                                {{ contact_form.message.errors }}
                            </div>
{% endcomment %}

                        {% comment %}<div class="form-group col-md-6">
				                <input type="text" name="name" class="form-control"  placeholder="نام">
				            </div>
				            <div class="form-group col-md-6">
				                <input type="email" name="email" class="form-control"  placeholder="ایمیـل">
				            </div>
				            <div class="form-group col-md-12">
				                <input type="text" name="subject" class="form-control"  placeholder="موضـوع">
				            </div>
				            <div class="form-group col-md-12">
				                <textarea name="message" id="message" class="form-control" rows="8" placeholder="پیغـام شمـا"></textarea>
				            </div> {% endcomment %}
				            <div class="form-group col-md-12">
{#				                <input type="submit" name="submit" class="btn btn-primary pull-right" value="ارسـال">#}
                                <button type="submit" class="btn btn-primary pull-right">ارسال</button>
				            </div>
				        </form>
	    			</div>
	    		</div>
	    		<div class="col-sm-4">
	    			<div class="contact-info">
	    				<h2 class="title text-center">اطلاعات تماس</h2>
	    				<address>
	    					<p>{{ site_setting.site_name }}</p>
							<p>{{ site_setting.address }}</p>
							<p>تلفن تماس : {{ site_setting.phone }}</p>
							<p>فکس : {{ site_setting.fax }}</p>
							<p style="font-family: tahoma;">{{ site_setting.email }}</p>
	    				</address>
	    			</div>
    			</div>
	    	</div>
    	</div>
    </div>
{% endblock %}